

body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;

}




.App-header {

  background-image: url("./Images/g.jpg");
  background-size: contain; /* Cover full width, auto height */
  background-position: center;
  height: 1024px; /* 100% of the viewport height */
  overflow: auto; /* Vertical scrolling if the content overflows */
  background-repeat: no-repeat;
  width: 100%;
  /* Set a height for your container */
}



