.header{
    background-color: #011401;
    z-index: 1;
    display: flex;
    gap: 2%;
    margin-bottom: 1%;
    padding-left: 3%;
}

.companyName{
color: #f9f6f6;
font-size: larger;
padding: .5%;
margin-top: .5%;
margin-left: -1%;
font-family: 'EB Garamond', serif;
text-shadow:  7px 5px #1b341b ;
 }

.imageLogo{
    margin-top: .85%;
    margin-left: 4%;
    height: 4%;
    width: 3%;
    border-radius: 20%;
}
   