.p-container {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5%;
  padding: 3%;
  justify-content: center;
  align-items: center;
  top: 25%;
  width: 80%;
  height: 105%;
  margin-bottom: 3%;
  left: 10%;
  position: relative;
}

.people {
  display: flex;
  flex-direction: column;
  box-shadow: 12% 2% 2% 2% rgb(184, 71, 71);
  padding: 20%;
  border: 1px black;
  font-family: 'Passion One', sans-serif;
}



.head {
  padding: 2%;
  font-family: 'Passion One', sans-serif;
  font-size: larger;
  border: 1px black;
  font-size: 200%;

}

.image {
  width: 30%;
  margin: 2%;
}

.image:hover {
  width: 40%;
  margin: 1%;
  transition: 2s;
}

.pbody {
  display: flex;
  font-family: 'Philosopher', sans-serif;
}

.founders {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  position: relative;
  width: 65%;
  height: 60%;
  font-family: 'Passion One', sans-serif;

}



.anjan {
  background-color: rgb(255, 255, 255);
  width: 150%;
  padding: 3% 10%;
  box-shadow: 3px 2px 5px 2px rgb(231, 227, 227);
  border-radius: 4%;
  font-size: larger;
}

.anjan:hover {
  background-color: rgb(255, 255, 255);
  width: 170%;
  padding: 4% 12%;
  box-shadow: 3px 2px 5px 2px rgb(230, 187, 144);
  border-radius: 4.5%;
  font-size: larger;
  transition-duration: .3s;
}

.aswajit {
  background-color: rgb(255, 255, 255);
  width: 150%;
  padding: 3% 10%;
  box-shadow: 3px 2px 5px 2px rgb(231, 227, 227);
  border-radius: 4%;
  font-size: larger;
}

.aswajit:hover {
  background-color: rgb(255, 255, 255);
  width: 150%;
  padding: 4% 12%;
  box-shadow: 3px 2px 5px 2px rgb(177, 223, 162);
  border-radius: 4%;
  font-size: larger;
  transition-duration: .3s;

}



.plogo{
  height: 10%;
}


.plogo{
  height: 10%;
  border-radius: 45%;
  animation: rotateImg 30s linear infinite;
}

@keyframes rotateImg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}